.Containerflex-investment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.investment-title {
    display: flex;
    justify-content: center;   
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
}

.drawline-investment {  
    align-items: center;
    margin-top: 45px;
    height: 2px;
    width: 1210px;
    background-color: black;
}

@media screen and (min-width: 721px) {
	.launch-buttom {
        left: 75%;
	}
}

@media screen and (min-width: 1380px) {
	.launch-buttom {
		left: 80%;
	}
}

.Containerflex-investment div:last-child > span:last-child {
    background: linear-gradient(to right, RGB(255, 86, 81), RGB(253, 253, 255));
    background-clip: text;
    color: transparent;
}

.drawline-container {
    margin-top: 70px;
    height: 3px;
    background-color: black;
}