.launch-buttom {
    position: absolute;
    left: 1690px;
    background-image: linear-gradient(45deg, RGB(255, 86, 81), RGB(253, 253, 255));
    color: black;
    border: none;
    transition: 0.5s;
    opacity: 0.8    ;
}

.launch-buttom:hover {
    color: black;
    transform: scale(1.2);
    opacity: 1;
}

.modal-title-new {
    margin-left: 75px;
    border: none !important;
}

.modal-footer-new {
    border-top: 1px solid black !important;
}

.launch-buttom-close {
    border: none;
}

.launch-buttom-send {
    background-image: linear-gradient(45deg, RGB(255, 86, 81), RGB(253, 253, 255));
    color: black;
    border: none;
}

.launch-buttom-send:hover {
    color: black;
}