.navbar {
    display: flex;
    justify-content: space-between;  
    height: 60px;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    z-index: 1;
    background-image: linear-gradient(to right, RGB(255, 86, 81), RGB(253, 253, 255));
    border-bottom: 4px;
    border-style: solid;
    font-size: 30px;
    padding: 0 !important;
}

.flexposition-navbar {
    width: 20%;
    height: 100%;
}

.flexposition-navbar > img, .flexposition-navbar > a {
    display: inline-block;
    margin: 0 5%;
}

.title {
    margin-left: 30px;
}

.position {
    
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.position:hover {
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: none;
    color: black;
}

.dashboard {
    transition: 0.5s; 
    text-decoration: none;
    color: black;

}

.dashboard:hover {
    cursor: pointer;
    transform: scale(1.2);
    text-decoration: none;
    color: black;
}

.navbar img {
    height: 38px;
    width: 38px;
    transition: 0.5s;
}

.navbar img:hover {
    cursor: pointer;
    transform: scale(1.3);
}




