.Register {
    width: 15%;
    height: 365px;
    background-image: linear-gradient(to right, RGB(255, 86, 81), RGB(253, 253, 255));
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 3px 5px RGB(203, 203, 203);
}

.Register h1 {
    text-align: center;
}

.Register label {
    text-align: center;
    font-size: 20px;
}

.input-nosubmit {
    width: 70%;
    margin: 15px 0;
    border-radius: 5px;
    height: 20px;
    font-size: 18px;
}

.input-nosubmit:hover {
    color: white;
    background-image: LINEAR-GRADIENT(45deg, RGB(18, 8, 69), RGB(167, 169, 255));
}

.submit-buttom  {
    width: 20%;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    border: 5px;    
    color: black;
    
}

.submit-buttom:hover {
    background-image: LINEAR-GRADIENT(45deg, RGB(18, 8, 69), RGB(167, 169, 255));
    color: white;
    padding: 3px;

}