.Contentdashboard {
    display: flex;
    flex-flow: column;  
    width: 330px;
    height: 277px;
    margin: 20px 20px 3px 20px;
    border-radius: 5px;
    background-image: LINEAR-GRADIENT(45deg, RGB(18, 8, 69), RGB(167, 169, 255));
    color: white;
    padding: 10px 22px 15px 22px;
}

.Contentdashboard span:nth-child(1), .Contentdashboard span:nth-child(3)  {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    transition: 0.5s;
}

.Contentdashboard span:nth-child(2)  {
    font-size: 25px;
    padding: 45px 0;    
}

.Contentdashboard span:nth-child(3):hover {
    transform: scale(1.2);
}