.Yourinvestment {
    width: 470px;
    height: 435px;
    border: 5px;
    margin: 20px 20px 3px 10px;
    border-radius: 5px;
    background-image: LINEAR-GRADIENT(45deg, RGB(18, 8, 69), RGB(167, 169, 255));
    color: white;
    padding: 15px 22px 15px 22px;
}
.Yourinvestment h1{
    font-size: 40px;
    text-align: center;
    padding-top: 2px;        
}

.Yourinvestment h2 {
    display: flex;
    justify-content: space-between; 
    font-size: 30px;
    text-align: left;
    height: 60px;     
    padding: 30px 30px 0 30px;
}

.Yourinvestment h3 {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to right, RGB(255, 86, 81), RGB(253, 253, 255));
    background-clip: text;
    color: transparent;
    padding: 0 30px 0 30px;
}

.drawline-total {
    margin: 50px 0 30px 0;
    height: 3px;
    width: 425px;
    background-color: white;
}

.investment-link {
    transition: 0.5s; 
    text-decoration: none;
    color: white;
}

.investment-link:hover {
    cursor: pointer;
    background: linear-gradient(to right, RGB(255, 86, 81), RGB(253, 253, 255));
    background-clip: text;
    color: transparent;
    transform: scale(1.2);
    text-decoration: none;
}